---
import NavbarComponent from "../../components/NavbarComponent.astro";
import Card from "../../components/Card.astro";

interface Props {
	title?: string;
	description?: string;
	selected?: string;
}

const {
	title = "My new page",
	description = "Page under construction",
	selected = "home",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={Astro.url} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-nosferatu flex flex-col justify-between min-h-screen">
		<NavbarComponent selected={selected} />
		<div class="flex font-sans justify-around my-10 md:my-14">
			<div class="w-[20rem] sm:w-[40rem] lg:w-[60rem]">
				<Card>
					<slot />
				</Card>
			</div>
		</div>
		<div
			class="fixed bottom-10 right-5 md:right-10
		items-center text-center"
		>
			<a
				id="scrollTop"
				href="#"
				class="flex justify-around bg-aro-600 w-12 h-12
			rounded-full items-center animate-bounce invisible opacity-85"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"></path>
				</svg>
			</a>
		</div>
		<footer
			class="flex flex-row justify-end bg-aro-50 flex-wrap w-full p-1 text-xs"
		>
			<div>
				<p class="flex flex-row text-right mr-1 text-nowrap">
					© Copyright 2025 Cristobal (Epeat) Barreto.
				</p>
			</div>
			<div>
				<p class="flex flex-row text-right mr-1 text-nowrap">
					Powered by
					<a
						href="https://astro.build"
						class="text-blue-500 ml-1 font-semibold hover:underline"
					>
						Astro</a
					>.
				</p>
			</div>
			<div>
				<p class="flex flex-row text-right mr-1 text-nowrap">
					Hosted on
					<a
						href="https://pages.github.com/"
						class="text-blue-500 ml-1 font-semibold hover:underline"
					>
						Github Pages
					</a>
					.
				</p>
			</div>
		</footer>
	</body>
	<script>
		const scrollTop = document.getElementById("scrollTop");

		document.onscroll = () => {
			if (window.scrollY > 100) {
				scrollTop!.classList.remove("invisible");
			} else {
				scrollTop!.classList.add("invisible");
			}
		};

	</script>
</html>
