---
import NavbarComponent from "../../components/NavbarComponent.astro";
import Card from "../../components/Card.astro";
import ScrollTop from "../../components/ScrollTop.astro";

interface Props {
	title?: string;
	description?: string;
	selected?: string;
}

const {
	title = "My new page",
	description = "Page under construction",
	selected = "home",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={Astro.url} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-nosferatu flex flex-col justify-between min-h-screen">
		<NavbarComponent selected={selected} />
		<div class="flex font-sans justify-around my-12">
			<Card class="flex max-w-xs md:max-w-2xl md:min-w-sm shadow-lg shadow-blade-400/20">
				<slot />
			</Card>
		</div>
		<ScrollTop/>
		<footer
			class="flex flex-row justify-end bg-aro-50 flex-wrap w-full p-1 text-base"
		>
			<div>
				<p class="flex flex-row text-right mr-1 text-nowrap">
					© Copyright 2025 Cristobal (
					<a
						href="https://github.com/epeat96"
						class="text-dracula-900 ml-1 mr-1 font-semibold hover:underline"
					>Epeat</a
					>) Barreto.
				</p>
			</div>
			<div>
				<p class="flex flex-row text-right mr-1 text-nowrap">
					Powered by
					<a
						href="https://astro.build"
						class="text-dracula-900 ml-1 font-semibold hover:underline"
					>
						Astro</a
					>.
				</p>
			</div>
			<div>
				<p class="flex flex-row text-right mr-1 text-nowrap">
					Hosted on
					<a
						href="https://pages.github.com/"
						class="text-dracula-900 ml-1 font-semibold hover:underline"
					>
						Github Pages
					</a>
					.
				</p>
			</div>
		</footer>
	</body>
</html>
