---
import NavbarComponent from "../../components/NavbarComponent/NavbarComponent.astro";

interface Props {
	title?: string;
	description?: string;
	selected?: string;
}

const {
	title = "My new page",
	description = "Page under construction",
	selected = "home",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={Astro.url} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-black flex flex-col justify-between min-h-screen">
		<NavbarComponent selected={selected} />
		<div
			class="flex font-sans justify-around my-10 md:my-14" 
		>
			<slot />
		</div>
		<footer class="flex justify-end
			right-0 bg-white w-full pb-2 pt-2 pr-2">
			<p class="flex flex-row text-right text-xs" id="footerText">
				© Copyright 2024 Cristobal (Epeat) Barreto. Powered by
				<a
					href="https://astro.build"
					class="text-blue-500 ml-1 font-semibold hover:underline"
				>
					Astro</a
				>.
			</p>
		</footer>
	</body>
</html>
